---
layout: post-index
title: Generally An Information Arsenal
tags: [math, blog, blog posts, physics, development, mathematics, science, software, computer, social, casual, GAIA]
comments: false 
image:
  feature: landing-header.png
---

{% for post in paginator.posts %}
	{% if post.unindex %}
		{% continue %}
	{% endif %}

<div class="post-entry">
	<div class="post-entry-img-meta-container">
		{% if post.series %}
			<div class="post-entry-series">
				<span>{{post.series.name}} Series | Part {{post.series.part}}</span>
			</div>
		{% endif %}
		{% if post.image.feature %}
        	<a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">
				<img class="post-entry-image" src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}">
			</a>		
		{% endif %}
		<div class="post-entry-meta">
			<span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span>

			{% if site.reading_time %}
			<span class="entry-reading-time">
			<i class="fa fa-clock-o"></i>
			{% if page.reading_time_override %}
			Reading time ~ {{page.reading_time_override}} minutes
			{% else %}
			{% include read-time.html %}
			{% endif %}
			</span><!-- /.entry-reading-time -->
			{% endif %}
		</div>
	</div>
    
    <div class="post-entry-title">
      <h2>
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>		
      </h2>
    </div>
    <div class="post-entry-description">
        {% if post.description %}{{ post.description }}{% else %}{{ post.content | strip_html | strip_newlines | truncate: 140 }}{% endif %}
    </div>
</div>

{% endfor %}

{% include pagination.html %}