<script>

    function disableDarkMode() {

        if (document.getElementsByClassName('entry-content') && document.body.getAttribute('id') !== 'post-index') {
            document.getElementsByClassName('entry-content')[0].style.color = '';
            document.getElementsByClassName('entry-content')[0].style.backgroundColor = '';
        }

        // Non-conditional unsets

        const unsetBgColorSelectors = ['blockquote', 'body', '.mainPage-darkMode', '.read-more'];
        const unsetColorSelectors = ['.partTag', 'a', '.meta-archive-list', '.current-page', '.entry-content', 'code', 
                                     '.read-more-description', 'input', 'textarea', '.continue-reading-readMore'];

        unsetBgColorSelectors.forEach(query => {
            document.querySelectorAll(query).forEach(element => element.style.backgroundColor = '');
        });

        unsetColorSelectors.forEach(query => {
            document.querySelectorAll(query).forEach(element => element.style.color = '');
        });

        document.querySelectorAll('.hentry').forEach(element => {
            if (!element.classList.contains('postBG')) element.style.backgroundColor = '';
        });

        document.querySelectorAll('.btn').forEach(element => {
            if(!element.classList.contains('learn-more-btn')) {
                element.addEventListener('mouseover', () => {
                    element.style.backgroundColor = '';
                });
                element.addEventListener('mouseout', () => {
                    element.style.backgroundColor = '';
                });
            }
        });

        if (document.getElementsByClassName('commentForm').length) {
            document.getElementsByClassName('commentForm')[0].style.backgroundColor = '';
            document.getElementById('commentBoxTitle').style.color = '';
            document.getElementById('commentList').style.color = '';
            document.getElementById('commentsFeed').style.backgroundColor = '';
            document.getElementById('commentFeedTitle').style.color = '';
            document.getElementById('footerWebInfo').style.color = '';

            unsetBorderColor = (query) => {
                document.querySelectorAll(query).forEach(element => {
                    element.style.borderColor = '';
                });
            }

            unsetBorderColor('commentElement');
            unsetBorderColor('replyElement');
            unsetBorderColor('commentIdLine');
        }
    }

    function enableDarkMode() {

        //! Non-conditional sets
        const setBgColorSelectors = {
            'blockquote': '#222',
            'body': '#222',
            '.mainPage-darkMode': '#101010',
            '.read-more': '#080401',
        };

        const setColorSelectors = {
            '.partTag': 'white',
            '.meta-archive-list': '',
            '.current-page': 'gray',
            '.entry-content': 'white',
            '.read-more-description': '#aaa',
            'input': 'wheat',
            'textarea': 'wheat',
            '.continue-reading-readMore': '#444'
        };

        for (let query in setBgColorSelectors) {
            document.querySelectorAll(query).forEach(element => {
                element.style.backgroundColor = setBgColorSelectors[query];
            });
        }

        for (let query in setColorSelectors) {
            document.querySelectorAll(query).forEach(element => {
                element.style.color = setColorSelectors[query];
            });
        }

        if (document.getElementsByClassName('entry-content') && document.body.getAttribute('id') !== 'post-index') {
            document.getElementsByClassName('entry-content')[0].style.color = 'white';
            document.getElementsByClassName('entry-content')[0].style.backgroundColor = '#222';
        }

        document.querySelectorAll('hentry').forEach(element => {
            if(!element.classList.contains('postBG'))
                element.style.backgroundColor = '#444';
        });

        document.querySelectorAll('a').forEach(element => {
            if (element.classList.contains('darkMode-noGray')) 
                element.style.color = 'white';
            else element.style.color = 'gray';
        });

        document.querySelectorAll('.btn').forEach(element => {
            if(!element.classList.contains('learn-more-btn')) {
                element.addEventListener('mouseover', () => {
                    element.style.backgroundColor = '#000';
                });
                element.addEventListener('mouseout', () => {
                    element.style.backgroundColor = '#222';
                });
            }
        });

        if (document.getElementsByClassName('commentForm').length) {
            document.getElementsByClassName('commentForm')[0].style.backgroundColor = '#101112';
            document.getElementById('commentBoxTitle').style.color = 'wheat';
            document.getElementById('commentList').style.color = 'white';
            document.getElementById('commentsFeed').style.backgroundColor = '#101112';
            document.getElementById('commentFeedTitle').style.color = 'white';
            document.getElementById('footerWebInfo').style.color = 'white';

            const setBorderColor = (query) => {
                document.querySelectorAll(query).forEach(element => {
                    element.style.borderColor = '#343435';
                });
            };

            setBorderColor('.commentElement');
            setBorderColor('.replyElement');
            setBorderColor('.commentIdLine');
        }
    }

    const setLightModeImg = '<img src="https://img.icons8.com/color/48/000000/smiling-sun.png">';
    const setdarkModeImg = '<img src="https://img.icons8.com/color/48/000000/full-moon.png">';

    function setDarkMode() {

        if (localStorage.getItem('darkMode')) {

            if (localStorage.getItem('darkMode') !== 'true') {

                localStorage.setItem('darkMode', 'true');

                enableDarkMode();
                document.getElementById('darkModeText').innerHTML = setLightModeImg;

            } 
            else {
                localStorage.setItem('darkMode', 'false');
                disableDarkMode();
                document.getElementById('darkModeText').innerHTML = setdarkModeImg;
                    
            }
        } 
        else {
            localStorage.setItem('darkMode', 'true');
            document.getElementById('darkModeText').innerHTML = setLightModeImg;
            enableDarkMode();
        }
    }

    window.onload = function () {
        if (localStorage.getItem('darkMode')) {
            if (localStorage.getItem('darkMode') === 'true') {
                enableDarkMode();
                document.getElementById('darkModeText').innerHTML = setLightModeImg;
            } 
            else {
                document.getElementById('darkModeText').innerHTML = setdarkModeImg;
            }
        } 
        else {
            document.getElementById('darkModeText').innerHTML = setdarkModeImg;
        }
    }

</script>