//! Base Scheme

$text-primary: #dfdfdf;
$text-secondary: #191919;
$background-primary: #191919;
$background-secondary: #1f1f1f;
$primary: #8fda7e;
$secondary: #f2ee71;
$accent: #2175ca;

$background-notice: #ff9c87;

//! Misc. Colors

// Higher number <=> darker shade

$white-1: #fff;
$white-2: #e8e8e8;
$white-3: #bbbbbb;
$white-4: #dddddd;
$white-5: #5a5a5a;

$black-1: #222222;
$black-2: #1e1e1e;
$black-3: #181818;
$black-4: #101010;
$black-5: #000;