.comment-dialog {
	position: relative;
	margin: 40px 2px 20px 2px;
	padding: 20px;
  padding-bottom: 25px;
	background-color: $background-secondary;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba(#000,0.1);
  border: none;
	border-radius: 3px;

	@media #{$medium} {
		margin: 50px 10px 20px 10px;
		padding: 50px 20px 25px;
	}

	@media #{$large} {
		max-width: 800px;
		padding: 50px 20px;
    padding-bottom: 25px;
		margin: 60px auto;
	}
}

.comment-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $white-3;
  margin: 10px;
  color: $text-primary;
}

textarea.comment-input {
  font-family: "Lato",Calibri,Arial,sans-serif;
  width: 100%;
  resize: none;
}

.comment-input:focus {
  outline: none;
  border-bottom: 2px solid $primary;
}

.comment-form-btn {
  margin: 10px;
}

#comment-feed {
	position: relative;
	margin: 40px 10px 20px 10px;
	background-color: $background-secondary;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba(#000,0.1);
	border-radius: 3px;
  padding: 10px;

	text-align: left;
}

.comment-element{
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 20px;
  margin-bottom: 5px;
  border-left: 2px solid $white-5;
}

.view-replies-btn {
  margin-left: 30px;
  background-color: transparent;
}

.comment-name{
  color: lighten($accent, 20);
}

.comment-date{
  color: #909090;
}

.comment-header {
  margin: 0px;
}

.comment-reply-option{
  text-decoration: underline;
  cursor: pointer;
}