/* ==========================================================================
   Base Elements and Components
   ========================================================================== */

hr { 
    display: block; 
    margin: 1em 0; 
    padding: 0;
    height: 1px; 
    border: 0; 
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #fff; 
}

/* 
   Figures and images
   ========================================================================== */

figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  @include clearfix();

  img {
    margin-bottom: 10px;
  }

  a { 

    img {
      transform: translate(0, 0);
      transition-duration: 0.25s;

      &:hover {
        transform: translate(0, -5px);
        box-shadow: 0 0 10px rgba($base-color, 0.2);
      }
    }
  }

  /* 2 columns */
  &.half {
    @media #{$large} {

      img {
        width: 310px;
        float: left;
        margin-right: 10px;
      }

      figcaption {
        clear: left;
      }
    }
  }

  /* 3 columns */
  &.third {
    @media #{$large} {

      img {
        width: 200px;
        float: left;
        margin-right: 10px;
      }

      figcaption {
        clear: left;
      }
    }
  }
}

svg:not(:root) {
  overflow: hidden; 
}

/* 
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  margin-bottom: 20px;
  padding: 8px 20px;
  @include font-rem(14);
  background-color: $accent;
  color: #fff;
  border-width: 2px !important;
  border-style: solid !important;
  border-color: $accent;
  border-radius: 3px;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: $secondary;
    color: $text-secondary;
    border-color: $secondary;
  }
}

.btn-inverse {
  background-color: $secondary;
  color: $text-secondary;
  border-color: $secondary;

  &:hover {
    background-color: $accent;
    color: $secondary;
    border-color: $accent;
  }
}

.btn-success {
  background-color: $success;
  color: #fff;
  border-color: $success;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $success;
  }
}

.btn-warning {
  background-color: $warning;
  color: #fff;
  border-color: $warning;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $warning;
  }
}

.btn-danger {
  background-color: $danger;
  color: #fff;
  border-color: $danger;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $danger;
  }
}

.btn-info {
  background-color: $info;
  color: #fff;
  border-color: $info;

  &:visited {
    color: #fff;
  }

  &:hover {
    background-color: #fff;
    color: $info;
  }
}

/* 
   Wells
   ========================================================================== */

.well {
  padding: 20px;
  border: 1px solid $comp-color;
  border-radius: 4px;
}

/* 
   Tooltips
   ========================================================================== */

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  font-size: small;
  visibility: hidden;
  width: 200px;
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}