//! TODO: Move this elsewhere

$post-entry-margin: 25px;

body {
    background-color: $background-primary;
	color: $text-primary;
}

.post-entry {
	background-color: $background-secondary;
	margin: 0 2px 20px 2px;
	box-shadow: 0 0 0 1px rgba($border-color,0.1), 0 6px 12px rgba($black-5,0.1);
	border-radius: 5px;
	padding-bottom: 25px;
	min-width: 95%;
}

.post-entry-title a {
	color: $text-primary;
	margin-left: 25px;
}

.post-entry-img-meta-container {
	position: relative;
	z-index: 1;
}

.post-entry-meta {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: $text-secondary;
	background-color: $primary;
	padding: 10px;
    padding-left: 25px;
	padding-right: 25px;
	font-weight: bold;
}

.post-entry-description {
	color: #e5e5e5;
	margin-top: 10px;
	margin-left: $post-entry-margin;
	margin-right: $post-entry-margin;
	line-height: 1.5;
}

.post-entry-tags {
	margin-left: $post-entry-margin;
}

.post-entry-series {
	display: inline-block;
	margin-left: $post-entry-margin/2;
	margin-top: $post-entry-margin/2;
	border-style: solid; 
	border-width: 1.5px; 
	border-radius: 0.3em; 
	padding: 0.25em;
	background-color: $secondary;
	color: rgba($text-secondary, 0.85);
	border-color: transparent;
	font-weight: bolder;
	
	position: absolute;
	z-index: 2;

	box-shadow: 0 0 3px 1px $black-1;
}

.post-entry-tags a {
	display: inline-block;
    border-radius: 4px;
    color: $white-2;
    background-color: $white-5;
    padding: 2px;
    margin: 1px;
}

.post-entry-tags {
	margin-top: 10px;
}

.post-entry-image {
	width: 100%;
	filter: brightness(82.5%);
}